<h1 class="text-2xl font-bold dark:text-white mb-4">Transactions</h1>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <div class="flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-4">
        <app-table-filter-select queryKey="account" [options]="accountSelectOptions">
            <svg class="w-3 h-3 text-gray-500 dark:text-gray-400 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M11.074 4 8.442.408A.95.95 0 0 0 7.014.254L2.926 4h8.148ZM9 13v-1a4 4 0 0 1 4-4h6V6a1 1 0 0 0-1-1H1a1 1 0 0 0-1 1v13a1 1 0 0 0 1 1h17a1 1 0 0 0 1-1v-2h-6a4 4 0 0 1-4-4Z"/>
                <path d="M19 10h-6a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1Zm-4.5 3.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM12.62 4h2.78L12.539.41a1.086 1.086 0 1 0-1.7 1.352L12.62 4Z"/>
            </svg>
            Account Filter
        </app-table-filter-select>
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Account
                </th>
                <th scope="col" class="px-6 py-3 text-right">
                    Amount
                </th>
                <th scope="col" class="px-6 py-3 text-right">
                    <a [routerLink]="['/dashboard/transactions/create']" class="text-blue-600 dark:text-blue-500 hover:underline">Create Transaction</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let transaction of transactions | transactionFilter:accountSelectOptions">
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="px-6 py-4">
                        {{transaction.date | date}}
                    </td>
                    <td class="px-6 py-4">
                        {{transaction.name}}
                    </td>
                    <td class="px-6 py-4">
                        {{transaction.account.name}}
                    </td>
                    <td class="px-6 py-4 text-right">
                        CHF {{transaction.amount | number : '1.2-2' }}
                    </td>
                    <td class="px-6 py-4 text-right">
                        <a [routerLink]="['/dashboard/transactions', transaction._id]" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>